{% extends "base.html" %}

{% block content %}
<h1 class="h3 mb-3 font-weight-normal text-center">Welcome to Stevens EasyLife!</h1>

<div class="row">
    <div class="col-md"></div>
    <div class="col-md-6">
        <p class="text-center">This is a place for Stevens students to find roommates and buy or sell home goods like furniture and electronics.</p>
        <p class="text-center">You can browse without registering, but to send a message or make your own post, you will have to create an account using your stevens.edu email.</p>
    </div>
    <div class="col-md"></div>
</div>
<br>
<br>
<div class="text-center row">
    <div class="col-md-6">
        <p>Looking for a room or have an apartment and looking for roommates?</p>
        <a href="{% url 'roommates:index' %}" class="btn btn-primary btn-lg float-none" role="button" aria-pressed="true">Roommates</a>
    </div>
    <div class="col-md-6">
        <p>Looking to buy or sell furniture, electronics, or other home goods?</p>
        <a href="{% url 'marketplace:market_home' %}" class="btn btn-primary btn-lg float-none" role="button" aria-pressed="true">Marketplace</a>
    </div>
</div>
<br>
<br>
{% endblock %}