{% extends "base.html" %}

{% block content %}

<a href="{% url 'roommates:index'%}" class="btn btn-primary btn-md float-md-left mr-1" role="button" aria-pressed="true">Back to Listings</a>
{% if posting.get_next_by_created %}
<a href="{% url 'roommates:detail' posting.get_next_by_created.id %}" class="btn btn-primary btn-md float-md-left mr-1" role="button" aria-pressed="true">View Next</a>
{% endif %}
{% if user.id == posting.user.id %}
<a href="{% url 'roommates:delete_post' posting.id %}" class="btn btn-primary btn-md float-md-right mr-1" role="button" aria-pressed="true">Remove Posting</a>
<a href="{% url 'roommates:edit_post' posting.id %}" class="btn btn-primary btn-md float-md-right mr-1" role="button" aria-pressed="true">Edit Posting</a>
{% else %}
<a href="{% url 'roommates:send_message' posting.id %}" class="btn btn-primary btn-md float-md-left mr-1" role="button" aria-pressed="true">Contact Poster!</a>
{% endif %}
<br>
<br>
<h1>{{ posting.title }}</h1>
<p>Distance: {{ posting.distance_time }} minutes from campus, {{ posting.get_distance_mode_display }}</p>
<p>Rent (per person): ${{ posting.rent }} per month.</p>
<p>Description: {{ posting.description }}</p>

{% for photo in posting.photo_set.all %}
    <img src="{{photo.image.url}}" />
{% endfor %}
{% endblock %}
