{% extends "base.html" %}

{% block content %}
{% if posting %}
<a href="{% url 'roommates:detail' posting.id %}" class="btn btn-light btn-md float-md-left" role="button" aria-pressed="true">Back to Posting</a>
{% else %}
<a href="{% url 'roommates:index'%}" class="btn btn-light btn-md float-md-left" role="button" aria-pressed="true">Back to Listings</a>
{% endif %}
<br>
<br>
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p>Enter Details</p>
    {% for field in detail_form %}
      {{ field.label }}: <br>
      {{ field }} <br>
      <br>
    {% endfor %}
    <br>
    <p>Upload Photos</p>
    {{ formset.management_form }}
    {% for image_form in formset %}
      {{ image_form }} <br>
    {% endfor %}
    <br>
    <button type="submit" class="btn btn-light btn-md">Post</button>
</form>
{% endblock %}